.address {
  &-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    font-family: $font-inter;
    color: #000000;
    margin-bottom: 18px;
    margin-top: 22px;
    display: inline-block
  }

  &-select {
    position: relative;
    padding: 0 10px;
    color: #ADADAD;
    border: none;
    align-items: center;
    height: 55px;
    background-color: #f0f0f0;
    display: flex;
    border-radius: 10px;
    gap: 5px;
    justify-content: space-between;
  }

  &-text {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: #f0f0f0;
    outline: none;
    color: black;
    font-family: $font-inter;
    margin-left: 20px;
  }

  &-search {
    width: 82px;
    height: 55px;
    color: white;
    background-color: $bgr-orange;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-top: 70px;
  }

  &-icon {
    cursor: pointer;

    &-home {
      position: absolute;
    }

    &-down {
      position: absolute;
      right: 15px;

    }


  }
}


@media screen and (max-width: 739px) {
  .address {
    &-select {
      gap: 0px;
      width: 100%;
      color: #ADADAD;
      border: none;
      padding: 20px;
      align-items: center;
      height: 55px;
      background-color: #f0f0f0;
      display: flex;
      border-radius: 10px;
    }
  }

}