@import "variables";

.header {
  background-color: $bgr-header;
  padding-top: 68px;
  padding-bottom: 20px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-inter;
  }

  &-logo {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }





  &-orange {
    color: $bgr-orange;
  }

  // -------------------Header bottom ----------------
  &-bottom {
    margin-top: 105px;

    &-text {
      display: flex;
    }

    &-title {
      width: 840px;
      font-weight: 700;
      font-size: 70px;
      line-height: 80px;
      font-family: $font-popins;
    }

    &-images {
      margin-top: 70px;
      position: relative;
    }

    &-img {
      object-fit: cover;
    }
  }

  &-slogan {
    display: inline-block;
    width: 280px;
    font-weight: 400;
    font-family: $font-inter;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
    margin-bottom: 24px;


  }

  &-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-box {
    font-family: $font-popins;


    &-number {
      display: block;
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
      color: #1580EB;
      margin-bottom: 5px;

    }

    &-content {
      display: block;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: #393939;
      font-family: $font-inter !important;
      width: 90px;
    }
  }


  &-address {
    width: 770px;
    height: 148px;
    background-color: $bgr;
    border: none;
    border-radius: 5px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    padding: 0 auto;
    margin: 0 auto;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

    &-group {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }


}