.personal {
  font-family: $font-inter;
  margin-top: 120px;

  &-main {
    display: flex;
    justify-content: space-between;
    gap: 130px;
  }


  &-icon {
    // color: $bgr-orange;
    color: rgb(99, 97, 97);
    font-size: 34px;
    cursor: pointer;
  }

  &-active {
    color: $bgr-orange;

  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 23px 0;

    &-title {
      font-size: 42px;
      line-height: 52px;
      font-weight: 700;
      color: $color-text;
    }




    &-content {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #484848;
      width: 368px;
    }
  }

  &-btn {
    display: flex;
    gap: 15px;

    &-icon {
      width: 50px;
      height: 50px;
      background-color: #ff5c00;
      font-size: 25px;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      border: none;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }

    &-icon:first-child {
      background-color: #F98D51;
      pointer-events: none;
    }
  }

  &-image {
    text-align: center;
    position: relative;
  }

  &-image::after {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F0F0F0;
    width: 100%;
    height: 623px;
    position: absolute;
    z-index: -1;
    border: none;
    border-radius: 15px;
  }

}

@media screen and (max-width: 1023px) {
  .personal {
    &-main {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 739px) {
  .personal {
    &-main {
      gap: 30px;
      text-align: left;
    }

    &-box-content {
      width: 100%;
    }

    &-image,
    &-image-img {
      width: 100%;
    }

    &-image::after {
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #F0F0F0;
      width: 100%;
      height: 600px;
      position: absolute;
      z-index: -1;
      border: none;
      border-radius: 15px;
    }

    &-content {
      width: 100%;
    }

  }
}

@media screen and (max-width:500px) {
  .personal {
    &-image::after {
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #F0F0F0;
      width: 100%;
      height: 400px;
      position: absolute;
      z-index: -1;
      border: none;
      border-radius: 15px;
    }
  }
}